<div class="row">
	<div class="col-md-12">
		<div class="btn-group" id="buttons" role="group" aria-label="...">
			<button ui-sref="home" class="btn btn-success">Home</button>
			<button ui-sref="teacher" class="btn btn-primary">See Who's Here</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>Please Sign In</h2>
		<div ng-repeat="item in students">
			<p>{{ item.name }}
				<button ng-click="EpicenterFactory.signInOut(item, true)"  ng-show="!item.signed_in" class="btn btn-default">Sign In</button>
				<button ng-click="EpicenterFactory.signInOut(item, false)"  ng-show="item.signed_in" class="btn btn-warning">Sign Out</button>
			</p>
		</div>
	</div>
</div>
